extends layout

block content
	div.modal.getRoom
		div.modal-body
			form.form-inline
				input.name(type="text", name="name", placeholder="What's your name?", autocomplete="off")
				button Create Room!
	div.navbar.navbar-fixed-top
		div.navbar-inner
			div.container
				button.btn.btn-navbar(type="button", data-toggle="collapse", data-target=".nav-collapse")
					span.icon-bar
					span.icon-bar
					span.icon-bar
				div.nav-collapse.collapse
					ul.nav
						li: a(href="/") collab.io
						li: a(href="/") Create a New Room
						li: a(href="") Active Users
						li: a.saveEvernote Save to Evernote
	div.container-fluid
		div.row-fluid

			div.span8
				div.draw
					div.header
						span.clear Clear
				div.chat
					ul.conversation
					form
						input(type="text", placeholder="Message", name="text")
			div.span4.questions
				form
					textarea(name="question", placeholder="Ask a question...")
					input.submit(type="submit", value="Ask")
				ul.questions