* {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	padding: 0;
	margin: 0;
}

html, .container-fluid, .row-fluid{
	height: 100%;
	_padding: 0 !important;
}
form{
	margin: 0;
}
body {
	height: 100%;
	box-sizing: border-box;
	padding-top: 51px !important;
}
body,html {
	min-width:1280px !important;
	width:1280px !important;
}


.modal.getRoom{
	width: 360px;
	margin-left: -180px;
	border-radius: 0;
	font-weight: 100 !important;
	top: 20%;
}
.modal-body {
	padding: 0 !important;
}
.modal.getRoom form input.name{
	font-size: 25px;
	width: 330px;
	border-radius: 0;
	border: none;
	border-bottom: 1px solid #cdcdcd;
	box-shadow: none;
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 12px;
	height: 50px;
	font-weight: 100 !important;
	text-align: center;
}
.modal.getRoom form button{
	font-weight: 100 !important;
	width: 360px;
	border: 0px solid #222;
	height: 67px;
	background-color: #fff;
	font-size: 22px;
}
.modal.getRoom form button:hover {
	width: 360px;
	background-color: #eee;
}


.modal.Evernote{
	display: none;
	width: 360px;
	margin-left: -180px;
	border-radius: 0;
	font-weight: 100 !important;
	top: 20%;
}

.navbar-inner{
	height: 50px !important;
	margin-bottom: 0px !important;
	background:#fff !important;
	box-shadow: none!important;
}
.navbar .nav > li > a {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	padding: 15px;
	color: #000;
	border-left: 1px solid #cdcdcd;
	cursor: pointer;
}
.navbar .nav > li:hover {
	background-color: #eee;
}

//.container-fluid{
	margin-top: 51px;
}


.span8{
	border-left: 1px solid #cdcdcd;
	border-right: 1px solid #cdcdcd;
	height: 100%;
}



.draw{
	box-sizing: border-box;
	background: #fff;
	width: 100%;
	height: 65%;
	border-bottom: 1px solid #cdcdcd;
	position: relative;
	overflow: hidden;
}
.draw .header {
	height: 30px;
	width: 100%;
	background-color: #fff;
	border-bottom: 1px solid #cdcdcd;
	position: absolute;
}
.draw .header span{
	box-sizing: border-box;
	cursor: pointer;
	display: inline-block;
	height: 100%;
}
div.colorpalette{
	display: inline-block;
	height: 100%;
}
div.colorpalette span{
	border: 1px solid rgba(0,0,0,0);
	margin-right: 1px;
	width: 30px;
}
div.colorpalette span.black{
	background-color: black;
}
div.colorpalette span.red{
	background-color: red;
}
div.colorpalette span.orange{
	background-color: orange;
}
div.colorpalette span.yellow{
	background-color: yellow;
}
div.colorpalette span.green{
	background-color: green;
}
div.colorpalette span.blue{
	background-color: blue;
}
div.colorpalette span.selected{
	border: 1px solid #0088cc;
}
.draw .header span.clear {
	padding: 0 12px;
	line-height: 30px;
	float: right;
	border-left: 1px solid #cdcdcd;
}
.draw .header span.clear:hover {
	cursor: pointer;
	background-color: #eee;
}


.chat {
	box-sizing: border-box;
	height: 35%;
}
.chat ul.conversation{
	overflow: scroll;
	height: 80%;
	margin: 0;
}
.chat ul.conversation span.userName{
	font-weight:bold;
	text-transform: uppercase;
	font-style: italic;
	color: #111;

}
.chat ul.conversation span.userName:after {
	content: ": ";
}

.chat form {
	_position: absolute;
	_bottom: 0px;
	width: 100%;
	height: 20%;
}

.chat form input {
	width: 100%;
	height: 100%;
	border: 0px solid #cdcdcd;
	border-top: 1px solid #cdcdcd;
	margin: 0px;
	box-shadow: none;
	border-radius: 0;
	font-size: 16px;
	padding: 13px;
	font-weight: 100;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



div.questions{
	margin-left: 0 !important;
	border-right: 1px solid #cdcdcd;
	height: 100%;
}
div.questions form textarea{
	width: 85%;
	float: left;
	border: 0px solid #cdcdcd;
	border-bottom: 1px solid #cdcdcd;
	margin: 0px;
	box-shadow: none;
	border-radius: 0;
	font-size: 16px;
	font-weight: 100;
	padding: 6px 10px 3px 10px;
	box-sizing: border-box;
}

div.questions form input.submit{
	width: 15%;
	height: 50px;
	background: #fff;
	border: 1px solid #cdcdcd;
	border-top: 0;
	border-right: 0;
	font-size: 14px;
	font-weight: 200;
	box-sizing: border-box;
}
div.questions form input.submit:hover {
	background-color: #eee;
	cursor: pointer;
}

ul.questions{
	list-style: none;
	margin: 0;
}
ul.questions li{
	padding: 5px 0;
	border-bottom: 1px dotted #cdcdcd;
}
ul.questions li a {
	margin-left: 10px;
	display: inline-block;
}
ul.questions li a:hover{
	text-decoration: none;
	cursor: pointer;
}
ul.questions li .span {
	display: inline-block;
}


.messageWrap {
	overflow: hidden;
	margin-top: 14px;
	list-style: none;
	position: relative;
	margin: 13px;
	margin-top: 0;
}
.self {
	float: right;
	border: 1px solid rgb(151, 195, 206);
	padding: 10px;
	border-radius: 4px;
	background: rgb(231, 246, 255);
	max-width: 300px;
}

.notSelf {
	float: left;
	border: 1px solid rgb(177, 177, 177);
	padding: 10px;
	border-radius: 4px;
	background: rgb(243, 243, 243);
	max-width: 300px;
	
}
.userName {
	display: block;
}

.questionText {
	margin-left: 10px;
	display: block;
}
.questionText .userName {
	color: #777;
}

